[submodule "zksync-os-server"]
	path = zksync-os-server
	url = https://github.com/matter-labs/zksync-os-server
[submodule "prividium-3chain-local"]
	path = prividium-3chain-local
	url = https://github.com/uF4No/prividium-3chain-local.git
